.row{
    color:white;
    
    background-color: black;
}
h2{
    padding:2rem;
}
.row_posters{
    display:flex;
    margin-left:40px;
    flex: coloumn;
    overflow-y: hidden;
    overflow-x:scroll;
    padding:20px;
    
}
.row_posters::-webkit-scrollbar{
  display:none;
    
}
.row_poster{
    max-height:100px;
    object-fit: contain;
    margin-right:10px;
    transition:transform 450ms;
}
.row_poster:hover{
    transform: scale(1.2);
    opacity:0.3;
}
.row_large_poster{
    max-height:250px ;
}

.movie_single_poster{
    position:relative;
}
.movie_name{
    font-size: 15px;
    text-align: center;
    position:absolute;
    top:50%;
    left:20%;
    right:20%;
}